@import url("https://use.typekit.net/fvz8alh.css");
:root {
  --color-red-0: #d9564f;
  --color-white-10: rgba(255, 255, 255, 0.1);
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-white-30: rgba(255, 255, 255, 0.3);
  --color-white-80: rgba(255, 255, 255, 0.9);
  --color-white-100: #fff;
  --color-black-0: rgba(0, 0, 0, 0);
  --color-black-100: rgba(0, 0, 0, 0.9);
  --color-black-200: rgba(0, 0, 0, 0.8);
  --color-black-300: rgba(0, 0, 0, 0.7);
  --color-black-400: rgba(0, 0, 0, 0.6);
  --color-black-500: rgba(0, 0, 0, 0.5);
  --color-black-600: rgba(0, 0, 0, 0.4);
  --color-black-700: rgba(0, 0, 0, 0.3);
  --color-black-800: rgba(0, 0, 0, 0.2);
  --color-black-900: rgba(0, 0, 0, 0.1);
  --color-brown-0: #531d20;
  --color-brown-100: #b54843;

  --ff: omnes-pro, -apple-system, "system-ui", "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--ff);
}
ul {
  list-style: none;
}
#red-bg {
  background-color: var(--color-red-0);
  color: var(--color-white-100);
  min-height: 100vh;
  padding-inline: 1rem;
  padding-bottom: 4rem;
}
#red-bg a {
  /* color: var(--color-white-100); */
  text-decoration: none;
}
/* *Header* */

header {
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  padding-block: 1rem;
  border-bottom: 1px solid var(--color-brown-100);
}
header nav {
  display: flex;
}
.logo {
  margin-right: auto;
  font-weight: var(--fw-600);
  font-size: 1.4rem;
  color: var(--color-white-100);
}
header ul {
  display: flex;
  gap: 0.5rem;
}
header li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--fw-500);
  font-size: 0.9rem;
  color: var(--color-white-80);
  background-color: var(--color-white-20);
  padding: 0.5rem;
  border-radius: 5px;
}
header li span {
  display: none;
}
/* *timer* */
#timer {
  background-color: var(--color-white-10);
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding: 1rem 1rem 1.5rem;
  border-radius: 5px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-inline: auto;
  /* padding-bottom: 1rem; */
  font-weight: var(--fw-600);
  font-size: 0.8rem;
}
.option {
  padding: 0.3em 1em;
  border-radius: 5px;
  cursor: pointer;
}
#timer .is--active {
  background-color: var(--color-brown-100);
}
.clock {
  font-weight: var(--fw-700);
  font-size: 6rem;
  padding: 1rem 0;
  text-align: center;
}
button {
  border: none;
  cursor: pointer;
}
#start-btn {
  display: block;
  margin-inline: auto;
  background-color: var(--color-white-100);
  color: var(--color-red-0);
  border-radius: 5px;
  padding: 0.5rem 4rem;
  font-size: 1.8rem;
  font-family: var(--ff);
  font-weight: var(--fw-600);
  box-shadow: 0px 4px 0px var(--color-white-30);
}
#start-btn:active {
  transform: translateY(4px);
  box-shadow: 0px 0px 0px var(--color-white-20);
}
/* *Tasks* */
#tasks {
  width: 100%;
  margin-inline: auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1rem;
}
.title__container {
  display: flex;
  padding-block: 1rem;
  border-bottom: 2px solid var(--color-white-100);
}
#tasks h3 {
  margin-right: auto;
}
.settings {
  display: flex;
  justify-content: center;
  padding: 0.3rem 0.3rem;
  background-color: var(--color-white-10);
  border-radius: 5px;
  cursor: pointer;
}
.tasks__pool {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: var(--fw-600);
}
.tasks__pool > ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.tasks__pool > ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #fff;
  color: var(--color-black-300);
  border-radius: 5px;
}
.tasks__pool > ul li span:nth-child(3) {
  color: var(--color-black-600);
}
.task.is--done > svg {
  color: var(--color-red-0);
  cursor: pointer;
}
.task > svg {
  color: var(--color-black-800);
  cursor: pointer;
}
.is--done > svg:hover {
  color: var(--color-brown-100);
  cursor: pointer;
}
.is--done span:nth-child(2) {
  color: var(--color-black-600);
  text-decoration: line-through;
}
.tasks__pool li span:nth-child(2) {
  margin-right: auto;
}
.task__settings {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid var(--color-black-800);
  color: var(--color-black-600);
  cursor: pointer;
}
.add-trigger {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-brown-100);
  width: 100%;
  padding: 1.5rem;
  border-radius: 5px;
  border: 2px dashed var(--color-white-30);
  opacity: 0.8;
  cursor: pointer;
}
.add-trigger:hover {
  opacity: 1;
}
.info ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1.5rem;
  background-color: var(--color-white-10);
  box-shadow: 0px -2px var(--color-white-100);
  margin-top: 1rem;
  color: var(--color-white-80);
  font-size: 1.2rem;
}
.info span {
  font-size: 1.5em;
  padding-left: 0.2rem;
  color: var(--color-white-100);
}
/* *Article* */
main {
  padding: 2rem 1rem;
  color: var(--color-brown-0);
}
article {
  width: 90%;
  max-width: 800px;
  margin-inline: auto;
}
main h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--color-brown-0);
}
main h2 {
  color: var(--color-brown-0);
  margin-bottom: 1.1rem;
}
main h1::after,
main h2::after {
  content: "";
  display: block;
  width: 24px;
  height: 4px;
  background-color: var(--color-red-0);
  opacity: 0.6;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
main p {
  max-width: 62ch;
}
main a {
  color: var(--color-red-0);
  text-decoration: none;
  font-weight: var(--fw-700);
}
main p,
main ul,
main ol {
  margin-bottom: 2rem;
  font-weight: var(--fw-500);
  opacity: 0.9;
  line-height: 1.4;
}
main ol,
main ul {
  padding-left: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main ul li {
  position: relative;
}

main ul li::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0.6rem auto auto -1.3rem;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--color-red-0);
}
@media only screen and (min-width: 600px) {
  /* *Header* */
  header {
    width: 90%;
  }
  header li span {
    display: inline;
  }
  header li a {
    padding: 0.3rem 1rem;
  }
  header li a:hover {
    color: var(--color-white-100);
  }
  header li a:active {
    transform: translateY(3px);
  }
  /* *timer* */
  .options {
    width: 70%;
    max-width: 400px;
    font-size: 1rem;
  }
  .option:active {
    transform: translateY(4px);
  }
  .clock {
    font-size: 9.5rem;
  }
  /* *Tasks* */
  .settings:active {
    transform: translateY(4px);
  }
  .task > svg:hover {
    color: var(--color-brown-100);
  }
  .task__settings:active {
    transform: translateY(4px);
  }
  .task__settings:hover {
    background-color: var(--color-black-800);
  }
  /* *Article* */
  article {
    width: 100%;
  }
  main a:hover {
    color: var(--color-brown-100);
  }
}
